body {
  margin: 0%;
  background-color: rgb(14, 6, 22);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0%;
}
#navbar {
  display: flex;
  justify-content: space-between;

  color: white;
  height: 90px;
  margin-bottom: 2.56%;
}
#navlhs > img {
  width: 55px;
  height: 55px;
  margin-top: 5px;
}
#navlhs {
  display: flex;
  /* border: 1px solid red; */
  width: 40%;
  font-size: 13px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  margin-top: 0.7%;
}
#navlhs > h2 > a {
  color: white;
  text-decoration: none;
}
#navrhs {
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  width: 45%;
}
#navrhs > input {
  height: 25px;
  width: 290px;
}
#menulogo {
  border-radius: 50%;

  max-width: 30px;
  max-height: 30px;
  padding-right: 1%;
}
#navrhs > img {
  max-width: 30px;
  max-height: 30px;
}
#search {
  border-radius: 8px;
}
#search {
  background-color: rgb(14, 6, 22);
  color: white;
  background-image: url(https://icons8.com/icon/132/search/);
}
#midslider {
  display: flex;
}
#login {
  width: 70px;
  height: 33px;
  border-radius: 8px;
  margin-left: 0;
  margin-right: 0;

  background-color: black;
  border: 1px solid white;
}
#login > a {
  text-decoration: none;
  color: white;
}

#buybtn {
  width: 110px;

  height: 35px;
  border-radius: 8px;
  margin-right: 3%;
  color: white;
  align-items: center;
  font-size: 15px;
  background-color: rgb(130, 48, 198);

  border: 1px solid white;
}
